h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.app__home {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.app__home a {
  margin-top: 5px;
}

.app__header {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.header__link {
  text-decoration: none;
}

.header__tab {
  padding: 5px 10px;
  border: 1px solid #aaa;
  margin: 5px;
  margin-bottom: 0;
}

.app__body {
  width: 100%;
  padding: 5px;
  margin-top: -1px;
  border-top: 1px solid #aaa;
}

.body__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.body__sell-blocks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}

.sell-block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.sell-block__bar {
  width: 30%;
  height: 50px;
}

.sell-block__bar.green {
  background-color: green;
}

.sell-block__bar.red {
  background-color: red;
}

.sell-block__text {
  padding-left: 5px;
}

.btc-owned__row {
  margin-top: 5px;
}

.btc-owned__row span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.btc-owned__row.green p {
  color: green;
}

.btc-owned__row.red p {
  color: red;
}

.btc-owned__row span p {
  margin-left: 5px;
}