<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./../partials/head'); %>
  </head>
  <body class="app__home">
    <h2>Please navigate to the portfolios below</h2>
    <p>Assumes the environment has been filled out.</p>
    <a href="/portfolio-1">Portfolio 1</a>
    <a href="/portfolio-2">Portfolio 2</a>
    <a href="/portfolio-3">Portfolio 3</a>
  </body>
</html>